In [1]:
import pandas as pd
import numpy as np

In [18]:
cardio_train_data_set = pd.read_csv("cardio-train.csv", sep = ';')
cardio_test_data_set = pd.read_csv("cardio-test.csv", sep = ',')

In [24]:
cardio_train_data_set

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,92150,20535.0,NaN,163.0,75.0,120.0,NaN,NaN,Normal,0.0,0.0,1.0,0
1,88880,16125.0,Men,168.0,68.0,110.0,70.0,NaN,NaN,0.0,0.0,NaN,0
2,10483,19761.0,NaN,170.0,75.0,120.0,NaN,NaN,Normal,0.0,0.0,1.0,1
3,22798,19035.0,Men,NaN,89.0,NaN,80.0,Normal,NaN,0.0,NaN,NaN,0
4,85542,NaN,NaN,158.0,74.0,NaN,93.0,High,NaN,0.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,74393,NaN,Women,174.0,73.0,130.0,NaN,NaN,Normal,0.0,0.0,1.0,1
496,38938,NaN,Men,NaN,89.0,130.0,NaN,High,Normal,0.0,0.0,NaN,1
497,9037,NaN,Women,180.0,84.0,NaN,NaN,Normal,Above Normal,1.0,0.0,1.0,0
498,27539,NaN,Women,NaN,NaN,110.0,70.0,NaN,NaN,NaN,0.0,1.0,0
499,13409,16698.0,Men,NaN,59.0,NaN,NaN,Normal,Normal,NaN,0.0,1.0,0

In [32]:
#Nominal
#Categorical
#Use dataframe.info and dataframe.describe to get the insights about the data\\

In [33]:
#Use dataframe.info and dataframe.describe to get the insights about the data\\

In [ ]:
#Find the number of null values for each columns
number_of_nulls = []